<nav class="navbar navbar-expand-sm bg-dark navbar-dark" th:fragment="nav" 
  style="background-color:#80634C !important;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">블로그</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" aria-label="Home">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav" sec:authorize="isAnonymous()">
        <li class="nav-item">
          <a class="nav-link" href="/user/loginForm">로그인</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/joinForm">회원가입</a>
        </li>
      </ul>
      <ul class="navbar-nav" sec:authorize="isAuthenticated()">
        <li class="nav-item">
          <a class="nav-link" href="/board/saveForm">글쓰기</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/updateForm">회원정보</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">로그아웃</a>
        </li>
      </ul>
    </div>
  </div>
</nav>