<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{layout/head :: head}"></head>

<body>
    <nav th:replace="~{layout/nav :: nav}"></nav>

    <div class="container">
        <form>
            <!-- 로그인할 때, csrf토큰을 같이 날려준다. -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <div class="mb-3 mt-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" placeholder="Enter title" id="title">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea class="form-control summernote" rows="5" id="content"></textarea>
            </div>
        </form>
        <button id="btn-save" class="btn btn-primary">글쓰기 완료</button>
    </div>

    <div th:replace="~{layout/footer :: footer}"></div>
    <script>
        $('.summernote').summernote({
            tabsize: 2,
            height: 300
        });
    </script>
    <script src="/js/board.js"></script>
</body>

</html>