<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{layout/head :: head}"></head>

<style>
    .note-editable {
      background-color: white;
    }
  </style>

<body>
    <nav th:replace="~{layout/nav :: nav}"></nav>

    <div class="container" style="height: 70vh;">
        <form>
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" placeholder="Enter title" id="title">
            </div>
            <div class="mb-3">
                <textarea class="form-control summernote" rows="5" id="content"></textarea>
            </div>
        </form>
        <button id="btn-save" class="btn btn-primary">글쓰기 완료</button>
    </div>

    <div th:replace="~{layout/footer :: footer}"></div>
    <script>
        $('.summernote').summernote({
            tabsize: 2,
            height: 300,
            disableResizeEditor: true,    // 에디터 크기 조절 비활성화
        });
    </script>
    <script src="/js/board.js"></script>
</body>

</html>