<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{layout/head :: head}"></head>

<body>
  <nav th:replace="~{layout/nav :: nav}"></nav>

  <div class="container-fluid mt-3" style="min-height: 70vh;">
    <form action="/auth/loginProc" method="post">
      <!-- form날릴 때, csrf토큰을 같이 날려준다. -->
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
      <div class="mb-3 mt-3">
        <label for="username" class="form-label text-white">Username:</label>
        <input type="username" class="form-control" id="username" placeholder="Enter username" name="username">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label text-white">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
      </div>
      <div class="message" th:if="${hasMessage == true}" th:text="${message}"
        style="color: orangered; margin-bottom: 10px; background-color: gainsboro;">
      </div>
      <button id="btn-login" class="btn btn-primary">로그인</button>
      <a th:href="@{/oauth2/authorization/kakao}">
        <img src="/image/kakao_login_button.png" height="38px">
      </a>
    </form>
  </div>

  <div th:replace="~{layout/footer :: footer}"></div>
</body>

</html>